<div class="flex bg-gray-100">
  <div class="flex-1 flex flex-col p-6">
    <h1 class="text-3xl font-bold mb-6 text-gray-800">Cultivo Automatizado de Orellana Rosada</h1>
    <app-parameters
      [latestTemperature]="latestTemperature"
      [latestHumidity]="latestHumidity"
      [latestUpdate]="latestUpdate">
    </app-parameters>
    <div class="flex flex-col md:flex-row">
      <div class="flex-1">
        <app-charts
          [temperatureData]="temperatureData"
          [humidityData]="humidityData"
          [labels]="labels"
          [lightLevelData]="lightLevelData">
        </app-charts>
      </div>
      <div class="md:w-1/3 md:ml-4">
        <app-events></app-events>
      </div>
    </div>
  </div>
</div>