<div class="grid grid-cols-1 gap-6 mb-6">
  <div class="bg-white p-4 rounded-lg shadow-md border-l-4 border-red-500">
    <div class="flex items-center justify-between">
      <div>
        <h2 class="text-md font-semibold text-gray-700">Temperatura</h2>
        <p class="text-xl font-bold text-red-600">{{ latestTemperature?.toFixed(3) }}°C
          <span class="text-lg font-bold" [ngClass]="{'text-green-500': isTemperatureIdeal(), 'text-red-500': !isTemperatureIdeal()}">
            ({{ getTemperatureStatus() }})
          </span>
        </p>
        <p class="text-xs text-gray-500">Última actualización: {{ latestUpdate }}</p>
      </div>
      <span class="text-red-500 text-2xl">🌡️</span>
    </div>
    <div class="mt-4">
      <h3 class="text-sm font-semibold text-gray-700">Iluminación</h3>
      <p class="text-lg font-bold text-gray-600">{{ illuminationState }}</p>
      <span class="text-gray-500 text-xl">💡</span>
    </div>
    <div class="mt-4">
      <h3 class="text-sm font-semibold text-gray-700">Ventilación</h3>
      <p class="text-lg font-bold text-gray-600">{{ ventilationState }}</p>
      <span class="text-gray-500 text-xl">🔄</span>
    </div>
  </div>

  <div class="bg-white p-4 rounded-lg shadow-md border-l-4 border-blue-500">
    <div class="flex items-center justify-between">
      <div>
        <h2 class="text-md font-semibold text-gray-700">Humedad</h2>
        <p class="text-xl font-bold text-blue-600">{{ latestHumidity?.toFixed(3) }}%
          <span class="text-lg font-bold" [ngClass]="{'text-green-500': isHumidityIdeal(), 'text-red-500': !isHumidityIdeal()}">
            ({{ getHumidityStatus() }})
          </span>
        </p>
        <p class="text-xs text-gray-500">Última actualización: {{ latestUpdate }}</p>
      </div>
      <span class="text-blue-500 text-2xl">💧</span>
    </div>
    <div class="mt-4">
      <h3 class="text-sm font-semibold text-gray-700">Humidificador</h3>
      <p class="text-lg font-bold text-gray-600">{{ humidifierState }}</p>
      <span class="text-gray-500 text-xl">💧</span>
    </div>
    <div class="mt-4">
      <h3 class="text-sm font-semibold text-gray-700">Motor</h3>
      <p class="text-lg font-bold text-gray-600">{{ motorState }}</p>
      <span class="text-gray-500 text-xl">🔧</span>
    </div>
  </div>

  <div class="bg-white p-4 rounded-lg shadow-md border-l-4 border-yellow-500">
    <div class="flex items-center justify-between">
      <div>
        <h2 class="text-md font-semibold text-gray-700">Nivel de Luz</h2>
        <p class="text-xl font-bold text-yellow-600">{{ latestLightLevel?.toFixed(3) }} lx</p>
        <p class="text-xs text-gray-500">Última actualización: {{ latestUpdate }}</p>
      </div>
      <span class="text-yellow-500 text-2xl">🔆</span>
    </div>
    <div class="mt-4">
      <h3 class="text-sm font-semibold text-gray-700">Iluminación</h3>
      <p class="text-lg font-bold text-gray-600">{{ illuminationState }}</p>
      <span class="text-gray-500 text-xl">💡</span>
    </div>
  </div>
</div>
